<!DOCTYPE html>
<html>
  <head>
    <title>AjaxScoreApi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-dark">
    <div class="m-3" style="height:95vh;">
      <%= yield %>
    </div>
  </body>
</html>
